:root {
    --primary-color: white;
    --secondary-color: #ff0000;
    --tertiary-color: #001845;
    --quaternary-color: #33415c;
    font-family: sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer h6 {
    margin-top: 0px;
    padding: 10px;
}

footer span {
    color: var(--tertiary-color);
}

.column {
    border-radius: 25px;
    background-color: var(--tertiary-color);

}

.title  {
    border-bottom: 1px solid var(--primary-color);
}

.navbar-items {
    color: var(--primary-color);
    text-align: left;
}